.list_users {
    list-style: none;
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
}

.list_users ul {
    list-style: none;
}

.list_users h5 {
    font-size: 22px;
    font-weight: 700;
}

.list_users p {
    font-size: 18px;
    font-weight: 700;
}


.list_users button {
    border-radius: 50px;
    font-size: 18px;
    padding: 10px 100px;
    cursor: pointer;
    border: transparent;
    background-color: white;
    color: black;
    font-weight: 900;
    transition: .3s ease;
}

.list_users button:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 900;
    transition: .3s ease;
}